*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(bg.png);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
   
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.7rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0,0,0.3);
    font-size: 8vmin;
    color: #f25c54;

}
#reset{
    height: 5vmin;
    width: 15vmin;
    font-size: 1rem;
    background-color: black;
    color: #f7f7ff;
    border-radius: 1rem;
    border: none;
}
#msg{
 color: #f25c54;
 font-size:5 vmin;
}

#new-btn{
    height: 5vmin;
    width: 14vmin;
    font-size: 1rem;
    background-color: black;
    color: #f7f7ff;
    border-radius: 1rem;
    border: none;
}
.msg-container{
 height: 100 vmin;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap : 10rem;

}

.hide{
 display: none;
}